<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Skills
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
            <ion-card>
              <ion-img src="./assets/cisco.jpg"></ion-img>
              <ion-card-header>
                <ion-card-title class="ion-card-inside">Cisco Network Academy</ion-card-title>
                <ion-card-subtitle class="ion-card-inside">CCNA R&S: Introduction to Networks, 
                Routing and Switching Essentials & Scaling Networks</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="ion-card-inside">
                More than two years of experience working with Cisco Packet Tracer
              </ion-card-content>
            </ion-card>
        </ion-item>
        <ion-item>
          <ion-card>
            <ion-img src="./assets/java.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title class="ion-card-inside">Java</ion-card-title>
              <ion-card-subtitle class="ion-card-inside">Skill level: Proficient</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-card-inside">
              It was the first language I learned in school, and I developed many projects with it!
            </ion-card-content>
          </ion-card>
      </ion-item>
      <ion-item>
        <ion-card>
          <ion-img src="./assets/bot.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-card-inside">Facebook Chatbots</ion-card-title>
            <ion-card-subtitle class="ion-card-inside">Skill level: Expert</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-card-inside">
            I always enjoyed marketing, since I was 18 I've been developing Facebook chatbots for my business and many clients as a side hustle, I was given the "Marketing Expert" Badge from Many Chat so I have a very good idea of how they work!
          </ion-card-content>
        </ion-card>
    </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-card>
            <ion-img src="./assets/Kotlin.png"></ion-img>
            <ion-card-header>
              <ion-card-title class="ion-card-inside">Kotlin & Android Studio</ion-card-title>
              <ion-card-subtitle class="ion-card-inside">Skill level: Proficient</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-card-inside">
              Learned kotlin 6 months ago and developed several Android studio projects that you can find in the projects section.
            </ion-card-content>
          </ion-card>
      </ion-item>
      <ion-item>
        <ion-card>
          <ion-img src="./assets/angular.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-card-inside">Angular</ion-card-title>
            <ion-card-subtitle class="ion-card-inside">Skill level: Proficient</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-card-inside">
            I've been working with Angular for the last year and I'm in love with all the possibilities it offers, I made a couple Web and hybrid applications using it!
          </ion-card-content>
        </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-img src="./assets/react.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title class="ion-card-inside">React</ion-card-title>
          <ion-card-subtitle class="ion-card-inside">Skill level: Beginner</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="ion-card-inside">
          In the last few months I learned the basics of react, I had the opportunity to develop a PWA with mongodb and react but I'm still learning all its potential
        </ion-card-content>
      </ion-card>
  </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-card>
            <ion-img src="./assets/sql.png"></ion-img>
            <ion-card-header>
              <ion-card-title class="ion-card-inside">SQL and NoSQL Databases</ion-card-title>
              <ion-card-subtitle class="ion-card-inside">Skill level: Intermediate 
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-card-inside">
              I'ved worked with relational databases for more than 2 years with different DBMS (MySQL, PostgreSQL, SQL Server, SQLite). I also been working recently with MongoDB and Firebase for my last projects, I enjoy modeling and optimizing databases.
            </ion-card-content>
          </ion-card>
      </ion-item>        
      <ion-item>
        <ion-card>
          <ion-img src="./assets/typescript.png"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-card-inside">TypeScript</ion-card-title>
            <ion-card-subtitle class="ion-card-inside"> 
              Skill level: Proficient</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-card-inside">
            Working with angular I had to learn TypeScript along the way, I've used for most of my web projects with different frameworks, I also enjoy JS but I feel more confident in TS.
          </ion-card-content>
        </ion-card>
    </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-card>
            <ion-img src="./assets/ionic.png"></ion-img>
            <ion-card-header>
              <ion-card-title class="ion-card-inside">Ionic</ion-card-title>
              <ion-card-subtitle class="ion-card-inside">Skill level: Proficient</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-card-inside">
              I recently learned Ionic which is great for hybrid apps, paired with Angular and TypeScript possibilities are endless, I made this same page with Ionic and other interesting projects!
            </ion-card-content>
          </ion-card>
      </ion-item>
      <ion-item>
        <ion-card>
          <ion-img src="./assets/python.png"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-card-inside">Python</ion-card-title>
            <ion-card-subtitle class="ion-card-inside">Skill level: Proficient</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-card-inside">
            I was using python for simple school projects, but recently I've been learning all it has to offer, I would say it's turning into one of my favorite languages. I don't have any python projects apart from exercises, but hopefully I could add one soon!
          </ion-card-content>
        </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-img src="./assets/unity.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title class="ion-card-inside">Unity</ion-card-title>
          <ion-card-subtitle class="ion-card-inside">Skill level: Beginner</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="ion-card-inside">
          I had the opportunity to develop "pong" using unity and C#, I've also learned the basics of how it works and the possibilities it offers!
        </ion-card-content>
      </ion-card>
    </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>